/* regole generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}




/* header */
.ms_header_topbar{
    background-color: #2c3e50;
    height: 100px;
    width: 100%;
    color: white;
    padding: 20px 0;
    position: fixed;
    z-index: 10;
}

.hamburger{
    display: flex;
    align-items: center;
    justify-content: center;
}

.ms_info{
    margin-top: 5px;
}

ul{
    display: flex;
    gap: 30px;
    font-size: 20px;
}

li{
    list-style: none;
}

li a{
    text-decoration: none;
    color: white;
}

li a:hover{
    cursor: pointer;
    color: #1abc9c;
}




/* main */
/* jumbotron section */
.ms_jumbo{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1abc9c;
    height: 100%;
    color: white;
    padding-top: 150px;
    padding-bottom: 50px;
}


.ms_logo{
    border-radius: 50%;
    position: relative;
    /* DEBUG */
    height: 250px;
    width: 250px;
}

.ms_logo img{
    width: 250px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.ms_star-text{
    font-size: 30px;
}

.line{
    width: 100px;
    height: 5px;
    display: inline-block;
    border-radius: 30px;
    border: none;
}

.ms_star-text:first-child{
    margin-right: 20px;
}

.ms_star-text:last-child{
    margin-left: 20px;
}

.ms_info-freelencer{
    font-size: 25px;
}




/* portfolio seciton */
.ms_portfolio{
    display: flex;
    align-items: center;
    height: 100%;
    padding-top: 40px 0;
    color: black;
 
}

.ms_cards{
    border-radius: 30px;
}

.ms_cards img{
    width: 100%;
    border-radius: 30px;
}


/* about section */
.ms_about{
    display: flex;
    align-items: center;
    height: 100%;
    padding: 40px 0;
    background-color: #1abc9c;
    color: white;
}

.ms_text_col_about{
    font-size: 20px;
    text-align: start;
}

.ms_btn_download{
    background-color: #1abc9c;
    border: 2px solid white;
    border-radius: 10px;
    font-size: 20px;
    padding-top: 5px;
    height: 50px;
}


/* contact */
.ms_contact{
    display: flex;
    align-items: center;
    /* DEBUG */
    height: 850px;
}

.ms_contact_info{
    font-size: 20px;
    text-align: start;
    /* DEBUG */
    height: 50px;
}

#ms_hr-mes{
    margin-top: 200px;
}

.ms_button_send{
    background-color: #1abc9c;
    border-radius: 10px;
    text-align: center;
    padding: 10px 0;
}


/* footer */
/* footer topbar */
.ms_footer_topbar{
    display: flex;
    align-items: center;
    height: 100%;
    background-color: #3a546d;
    padding: 40px 0;
}

.ms_cards-footer{
    font-size: 25px;
    color: white;
    /* DEBUG */
    height: 150px;
}

.footer_icon{
    border: 1px solid rgb(255, 255, 255);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: inline-block;
    padding: 5px;
}

/* footer bottombar */
.ms_footer_bottombar{
    display: flex;
    align-items: center;
    height: 100%;
    background-color: #2c3e50;
    padding-top: 40px;
    /* DEBUG */
    /* height: 100px; */
}

.ms_text_footer{
    /* DEBUG */
    height: 50px;
}